<!DOCTYPE html>
<html>
  <head>
    <title>Membuat Link</title>
  </head>
  <body>
    <a>
      <img src="https://media.hitekno.com/thumbs/2021/09/12/72835-klasemen-mpl-season-8-week-5-day-3-youtube-mpl-indonesia/o-img-72835-klasemen-mpl-season-8-week-5-day-3-youtube-mpl-indonesia.jpg" style="width:500px">
    </a>
    <p><a>
        <img src="https://cdn-2.tstatic.net/surabaya/foto/bank/images/hasil-mpl-season-8-week-3-hari-kedua.jpg" style="width:500px">
    </a>
    </p>
    </body>
</html>
